name: CD

on:
  push:
    branches:
      - main
      
  schedule:
    - cron: '0 15 * * *'  # Runs at 7:00 AM UTC every day

env:
  DBT_PROFILES_DIR: .
  DBT_PROJECT: ${{ secrets.GCP_PROJECT_ID }}
  DBT_DATASET: ${{ secrets.PROD }}
  DBT_LOCATION: ${{ secrets.LOCATION }}

jobs:
  dbt-cd:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Run dbt commands
      run: |
        dbt debug --profiles-dir . --project-dir . --target prod
        dbt deps --profiles-dir . --project-dir .
        dbt build --profiles-dir . --project-dir . --target prod

    - name: Cleanup
      if: always()
      run: |
        rm -f ${GOOGLE_APPLICATION_CREDENTIALS}